# Amazon Web Scrapping Project

In [2]:
from bs4 import BeautifulSoup
import requests
import time
import requests
import smtplib

In [37]:
#connect to website
Url = 'https://www.amazon.com/Funny-Data-Systems-Business-Analyst/dp/B07FNW9FGJ/ref=sr_1_3?dchild=1&keywords=data%2Banalyst%2Btshirt&qid=1626655184&sr=8-3&customId=B0752XJYNL&th=1'

headers = {"User-Agent": "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/78.0.3904.108 Safari/537.36", "Accept-Encoding":"gzip, deflate", "Accept":"text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8", "DNT":"1","Connection":"close", "Upgrade-Insecure-Requests":"1"}

page = requests.get(Url)

soup1 = BeautifulSoup(page.content, 'html.parser')

soup2 = BeautifulSoup(soup1.prettify(), 'html.parser')

title = soup2.find(id = 'productTitle').get_text()

html_content = '''
<div class="product">
    <span class="a-offscreen">$16.99</span>
</div>
'''

soup3 = BeautifulSoup(html_content, 'html.parser')

price = soup3.find('span', class_="a-offscreen").get_text()

print(title)

print(price)

# <span class="a-offscreen">$14.98</span>

                   Funny Got Data MIS Data Systems Business Analyst T-Shirt

$16.99

In [38]:
price = price.strip()[1:]
price

'16.99'

In [45]:
import datetime

today = datetime.date.today()

print(today)

2024-08-11

In [46]:
import csv

header = ['Title', 'Price', 'Date']

data = [title, price, today]

with open('AmazonWebScrapperDataset.csv', 'w', newline = '', encoding = 'UTF8') as f:
    writer = csv.writer(f)
    writer.writerow(header)
    writer.writerow(data)

In [55]:
import pandas as pd

df = pd.read_csv('/Users/amansingh/Desktop/data_analytics/projects/AmazonWebScrapperDataset.csv')

df['Title'] = df['Title'].str.replace('\n', '', regex=False).str.strip()

df

                                               Title  Price        Date
0  Funny Got Data MIS Data Systems Business Analy...  16.99  2024-08-11

# Appending Data to the CSV file